.ui-page-login,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.mui-content {
	height: 100%;
}


.right-head {
	float: right;
	margin-top: 1%;
}

.mui-input-radio {
	line-height: 40px;
	clear: left;
	margin-left: 2%;
	overflow: hidden;
	position: relative;
}
.mui-input-radio-noe{
	margin-left: 15%;
}