{extend name="base" /}
{block name="body"}

<style>
    .file {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }

    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }

    .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }

    .left {
        margin-left: 5%;
    }

    .time {
        width: 770px;
        height: auto;
        background-color: antiquewhite;
    }
</style>
<div class="layui-card">
    <div class="layui-card-header">导入数据</div>
    <div class="layui-card-body">
        <form action="{:url('admin/Topic/lead_add')}" method="post" enctype="multipart/form-data">
            <div>导入的文件为xlsx表格才可以格式要正确，下面是例子格式：
                <img src="/static/image/xlsx.png" alt="" width="100%" height="150px">
            </div>

            <div>例子下载：
                <a style="color: red;" href="{:url('admin/topic/below')}">下载例子</a>
            </div><br>
            <div class="layui-form-item">
                <label class="layui-form-label">选导入数据</label>
                <div class="layui-input-block">
                    <input class="file" type="file" name="excel">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" lay-submit="">保存</button>
                    <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}