<!DOCTYPE html>
<html lang="en">
<!-- 抽奖页面 -->

<head>
    <meta charset="UTF-8">
    <title>抽奖页面</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="/static/index/mui/css/style.css">
    <link rel="stylesheet" href="/static/index/mui/css/mui.min.css">
    <script src="/static/index/mui/js/app.js"></script>
    <script src="/static/index/mui/js/mui.min.js"></script>
    <script src="/static/index/mui/js/style.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <!-- 引入mui样式 -->
    <!-- 自己的样式 -->
    <link rel="stylesheet" href="/static/index/my/draw.css">

</head>

<body>

    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">抽奖</h1>
        <a href="{:url('index/Login/index')}" class="right-head">
            {empty name="Request.session.user_name"}
            暂无账号
            {else /}
            {$Request.session.user_name}
            {/empty}
        </a>
    </header>
    <div class="mui-content">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell mui-media">
                <a href="javascript:;">
                    <img class="mui-media-object mui-pull-left" src="{$activity.activity_picture}">
                    <div class="mui-media-body">
                        活动名字：{$activity.activity_name}
                        <p class='mui-ellipsis'>活动介绍：{$activity.activity_introduce}</p>
                    </div>
                </a>
            </li>
        </ul>

        <div>
            <table width="100%" class="table" id="tablevalue">
                <tr>
                    <th width=50%>时间</th>
                    <th width=50%>温度</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

    </div>

    <nav class="mui-bar mui-bar-tab">
        <a onclick="home()" class="mui-tab-item mui-active">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a onclick="mi()" class="mui-tab-item">
            <span class="mui-icon mui-icon-contact"></span>
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>

</body>

</html>