<!DOCTYPE html>
<html lang="en">
<!-- 答题页面 -->

<head>
    <meta charset="UTF-8">
    <title>答题</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="/static/index/mui/css/style.css">
    <link rel="stylesheet" href="/static/index/mui/css/mui.min.css">
    <script src="/static/index/mui/js/app.js"></script>
    <script src="/static/index/mui/js/mui.min.js"></script>
    <script src="/static/index/mui/js/style.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <!-- 引入mui样式 -->
    <!-- 自己的样式 -->
    <link rel="stylesheet" href="/static/index/my/response.css">
</head>

<body onload="RunOnBeforeUnload()">

    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">答题</h1>
        <a href="{:url('index/Login/index')}" class="right-head">
            {empty name="Request.session.user_name"}
            暂无账号
            {else /}
            {$Request.session.user_name}
            {/empty}
        </a>
    </header>
    <div class="mui-content">
        <h4 class="residue">答题剩余时间：<span id="timeout"></span></h4>  
        <div class="topic-name">题目名字：<span id="topic"></span></div>

        <ul class="mui-table-view mui-table-view-radio">
        </ul>

        <div>
            <button onclick="submit()" type="button" class="mui-btn mui-btn-primary submit">提交本题</button>
        </div>
        <div class="response-skip">
            <a id="previous-css">上题答案:<span id="previous"></span></a>
            <a id="descend" onclick="private()">下一题</a>
        </div>
        <p class="rule">点击选项即可，规则答题期间请勿“刷新”页面</p>
        <input type="hidden" name="choose_id" id="choose_id" value="">
        <input type="hidden" name="topic_id" id="topic_id" value="">
        <input type="hidden" name="choose" id="choose" value="">
    </div>

    <nav class="mui-bar mui-bar-tab">
        <a onclick="home()" class="mui-tab-item mui-active">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a onclick="mi()" class="mui-tab-item">
            <span class="mui-icon mui-icon-contact"></span>
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>

</body>

</html>

<script>
    // 提交
    function submit() {
        count();
        jumpurl();
    }
</script>


<script>
    //不需要链接只需要将函数再次执行一次即可
    function private() {
        count();
        jumpurl();
    }
</script>


<script>
    //计算这是第几题
    function count() {
        // 当前浏览器是否支持localStorage
        if (window.localStorage) {
            // 是否已经有记录了，如果有进入操作
            if (window.localStorage.getItem("count")) {
                //拿出key对应的value， 因为存储进去的是字符串。
                var c = parseInt(window.localStorage.getItem("count"));
                // 设置key，value加1
                window.localStorage.setItem("count", c + 1);
                // console.log(parseInt(window.localStorage.getItem("count")));
            } else {
                //如果没有检查到key, 那肯定没设置，那就让他默认为0
                window.localStorage.setItem("count", 0);
            }
        }
    }
</script>

<script>
    //选择题赋值
    var list = document.querySelector('.mui-table-view.mui-table-view-radio');
    list.addEventListener('selected', function (e) {
        var choose = e.detail.el.getElementsByTagName('span')[0].innerText;
        document.getElementById('choose').value = choose;
    });

</script>


<script type="text/javascript">
    var num = localStorage.getItem('count');//取值，如果没有值为默认值0，如果有值无操作
    if (num) {
    } else {
        window.localStorage.setItem("count", 0);//初始值，第一次进来就是第一题
    }

    data = sessionStorage.all;
    all = JSON.parse(data);
    // 这是随机的10个数组
    function jumpurl() {
        for (i = 0; i < 1; i++) {
            $("#topic").text(all[num].topic_name);
            $("#choose_id").val(all[num].choose_id);
            $("#topic_id").val(all[num].id);
        }
        //请求选项
        var choose_id = $("#choose_id").val();//所有选项的id
        var topic_id = $("#topic_id").val();//题的id
        $.ajax({
            type: 'POST',
            url: "{:url('index/index/particular')}",
            data: {
                choose_id: choose_id,
                topic_id: topic_id,
            },
            dataType: 'json',
            success: function (choose) {
                // console.log(choose);
                var html = "";
                html += '<ul class="mui-table-view mui-table-view-radio">';
                for (var i = 0; i < choose.length; i++) {
                    var ch_small = 'A';
                    var str_small = '';
                    str_small += String.fromCharCode(ch_small.charCodeAt(0) + i);
                    html += "<li class='mui-table-view-cell'>";
                    html += "<a class='mui-navigate-right'>" + str_small + "： " + "<span id= 'selected'>" + choose[i].choose_name + "</span>" + "</a>";
                    html += "</li>";
                    // html += "<li class='mui-table-view-cell'>" + str_small + "： " + choose[i].choose_name + "</li>";
                }
                html += "</ul>";
                $(".mui-table-view").html(html); //读取下级的信息
            },
            error: function () {
                console.log("error");
            }
        });
    }

    (function () {
        // setInterval(private, 30000);//30秒后执行下一题
        jumpurl();
        //这里有问题，第一次进来那么他就是第一题，但是我刷新页面就相当于第一次进来永远是第一题。
    })();





</script>


<!--倒计时问题-->
<script>
    var timestart = 30;
    var timestep = -1;
    var timeID;
    function timecount() {
        document.getElementById("timeout").innerHTML = timestart;
        timestart += timestep;
        if (timestart < 0) {
            timestart = 30;
            //倒计时为0时执行xxxx方法   
        }
        timeID = setTimeout("timecount()", 1000);
    }
    timecount();
</script>

<!--防止页面刷新的问题-->
<script type="text/javascript">
    // document.onkeydown = function (e) {
    //     var ev = window.event || e;
    //     var code = ev.keyCode || ev.which;
    //     if (code == 116) {
    //         ev.keyCode ? ev.keyCode = 0 : ev.which = 0;
    //         cancelBubble = true;
    //         return false;
    //     }
    // } //禁止f5刷新
    // document.οncοntextmenu = function () {
    //     return false
    // };//禁止右键刷新
    //
    // function RunOnBeforeUnload() {
    //     window.onbeforeunload = function () {
    //         return '请不要刷新页面!';
    //     }
    // }
</script>
</head>