<!DOCTYPE html>
<html lang="en">
<!-- 答题页面 -->

<head>
    <meta charset="UTF-8">
    <title>答题</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="/static/index/mui/css/style.css">
    <link rel="stylesheet" href="/static/index/mui/css/mui.min.css">
    <script src="/static/index/mui/js/app.js"></script>
    <script src="/static/index/mui/js/mui.min.js"></script>
    <script src="/static/index/mui/js/style.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <!-- 引入mui样式 -->
    <!-- 自己的样式 -->
    <link rel="stylesheet" href="/static/index/my/response.css">
</head>

<body>

    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">答题</h1>
        <a href="{:url('index/Login/index')}" class="right-head">
            {empty name="Request.session.user_name"}
            暂无账号
            {else /}
            {$Request.session.user_name}
            {/empty}
        </a>
    </header>
    <div class="mui-content">
        <h4>剩余时间为：<span id="timeout"></span></h4>  

        {foreach name="all" item="vo" key="ke"}
        {/foreach}
        <div>题目:{$vo.topic_name} (单选题)</div>
        <input type="radio" name="" id=""> A: {$vo.topic_name}

        <div class="subject">
            {foreach name="all" item="v" key="k"}
            <a href="{$v.url}">第{$k+1}题</a>
            {/foreach}
        </div>

        <a href="#">下一题</a>


    </div>

    <nav class="mui-bar mui-bar-tab">
        <a onclick="home()" class="mui-tab-item mui-active">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a onclick="mi()" class="mui-tab-item">
            <span class="mui-icon mui-icon-contact"></span>
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>

</body>

</html>

<script type="text/javascript">


    data = sessionStorage.all;
    //重新转换为对象 
    all = JSON.parse(data);
    console.log(all);

    function jumpurl() {
        // location = "https://dev.dcloud.net.cn/mui/ui/#gallery";
    }

    (function () {
        // setTimeout('jumpurl()', 30000);
        // jumpurl();
    })();

    var timestart = 30;
    var timestep = -1;
    var timeID;
    function timecount() {
        document.getElementById("timeout").innerHTML = timestart;
        timestart += timestep;
        if (timestart < 0) {
            timestart = 30;
            //倒计时为0时执行xxxx方法   
        }
        timeID = setTimeout("timecount()", 1000);
    }
    timecount();
</script>
</head>