<!DOCTYPE html>
<html lang="en">
<!-- 答题页面 -->

<head>
    <meta charset="UTF-8">
    <title>答题</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="/static/index/mui/css/style.css">
    <link rel="stylesheet" href="/static/index/mui/css/mui.min.css">
    <script src="/static/index/mui/js/app.js"></script>
    <script src="/static/index/mui/js/mui.min.js"></script>
    <script src="/static/index/mui/js/style.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <!-- 引入mui样式 -->
    <!-- 自己的样式 -->
    <link rel="stylesheet" href="/static/index/my/response.css">
</head>

<body onload="RunOnBeforeUnload()">

<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">答题</h1>
    <a href="{:url('index/Login/index')}" class="right-head">
        {empty name="Request.session.user_name"}
        暂无账号
        {else /}
        {$Request.session.user_name}
        {/empty}
    </a>
</header>
<div class="mui-content">
    <h4 class="residue">答题剩余时间：<span id="timeout"></span></h4>  
    <div class="topic-name">题目名字：<span id="topic"></span></div>

    <ul class="mui-table-view mui-table-view-radio">
    </ul>

    <div>
        <button onclick="submit()" type="button" class="mui-btn mui-btn-primary submit">提交本题</button>
    </div>
    <div class="response-skip">
        <a id="previous-css">上题答案:<span id="previous"></span></a>
        <a id="descend" onclick="private()">下一题</a>
    </div>
    <p class="rule">点击选项即可，规则答题期间请勿“刷新”页面(“如果你刷新页面代表你已经答题，进入下一题”)</p>

    <input type="hidden" name="choose_id" id="choose_id" value="">
    <input type="hidden" name="topic_id" id="topic_id" value="">
    <input type="hidden" name="choose" id="choose" value="">
    <input type="hidden" name="answer_id" id="answer_id" value="">
    <input type="hidden" name="answer_uniqueness" id="answer_uniqueness" value="">

</div>

<nav class="mui-bar mui-bar-tab">
    <a onclick="home()" class="mui-tab-item mui-active">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a onclick="mi()" class="mui-tab-item">
        <span class="mui-icon mui-icon-contact"></span>
        <span class="mui-tab-label">我的</span>
    </a>
</nav>

</body>

</html>

<script>
    // 提交/下一题
    function submit() {
        /*
        将题插入到数据库
        */
        var num = localStorage.getItem('count');
        num = Number(num);
        var number = num + 1;//用户答题的次数（当为10的时候判断他的正确率是否可以去抽奖）
        var choose_id = $("#choose_id").val();//所有选项id
        var topic_id = $("#topic_id").val();//本题的id
        var choose = $("#choose").val();//用户选择的答案ID
        var answer_id = $("#answer_id").val();//活动的id
        var answer_uniqueness = $("#answer_uniqueness").val();//唯一标识
        console.log(number);
        $.ajax({
            type: 'POST',
            url: "{:url('index/index/in_answer')}",
            data: {
                topic_id: topic_id,
                choose: choose,
                answer_id: answer_id,
                number: number,
                answer_uniqueness:answer_uniqueness
            },
            dataType: 'json',
            success: function (ins) {
                // console.log(ins);
                if(ins == 6){
                    mui.alert('恭喜你你可以抽奖了');
                    window.location.href = "{:url('index/index/draw')}";
                }
                if(ins == 7){
                    mui.toast('对不起你无法抽奖');
                    window.location.href = "{:url('index/index/index')}";
                }
                if (ins[0] == 0) {
                    if (ins[1] == 0) {
                        mui.toast('答题成功，答题错误了😥');
                    }
                    if (ins[1] == 1) {
                        mui.toast('答题成功，答题正确😀');
                    }
                }else{
                    mui.toast('网络错误');
                }
                $("#previous").html(ins[2]);
            },
            error: function () {
                console.log("error");
            }
        });
        count();//这个是下一题的操作
        jumpurl();//显示题的操作 
        replacement()//重新计时的操作
    }
</script>


<script>
    //计算这是第几题
    function count() {
        // 当前浏览器是否支持localStorage
        if (window.localStorage) {
            // 是否已经有记录了，如果有进入操作
            if (window.localStorage.getItem("count")) {
                //拿出key对应的value， 因为存储进去的是字符串。
                var c = parseInt(window.localStorage.getItem("count"));
                // 设置key，value加1
                window.localStorage.setItem("count", c + 1);
                // console.log(parseInt(window.localStorage.getItem("count")));
            } else {
                //如果没有检查到key, 那肯定没设置，那就让他默认为0
                window.localStorage.setItem("count", 0);
            }
        }
    }
</script>

<script>
    //选择题赋值
    var list = document.querySelector('.mui-table-view.mui-table-view-radio');
    list.addEventListener('selected', function (e) {
        var choose = e.detail.el.getElementsByTagName('i')[0].innerText;
        document.getElementById('choose').value = choose;
    });

</script>


<script type="text/javascript">
    var num = localStorage.getItem('count');
    if (num) {
    } else {
        window.localStorage.setItem("count", 0);//初始值，第一次进来就是第一题
    }
    data = sessionStorage.all;
    all = JSON.parse(data);
    // 这是随机的10个数组
    // console.log(all);
    function jumpurl() {
        var num = localStorage.getItem('count');
        for (i = 0; i < 1; i++) {
            $("#topic").text(all[num].topic_name);
            $("#choose_id").val(all[num].choose_id);
            $("#topic_id").val(all[num].id);
            $("#answer_id").val(all[num].answer_id);
            $("#answer_uniqueness").val(all[num].uniqueness);
        }
        //请求选项
        var choose_id = $("#choose_id").val();//所有选项的id
        var topic_id = $("#topic_id").val();//题的id
        $.ajax({
            type: 'POST',
            url: "{:url('index/index/particular')}",
            data: {
                choose_id: choose_id,
                topic_id: topic_id,
            },
            dataType: 'json',
            success: function (choose) {
                // console.log(choose);
                var html = "";
                html += '<ul class="mui-table-view mui-table-view-radio">';
                for (var i = 0; i < choose.length; i++) {
                    var ch_small = 'A';
                    var str_small = '';
                    str_small += String.fromCharCode(ch_small.charCodeAt(0) + i);
                    html += "<li class='mui-table-view-cell'>";
                    html += "<a class='mui-navigate-right'>" + str_small + "： " + "<span id= 'selected'>" + choose[i].choose_name + "</span>" + "<i id = 'choose_id'>" + choose[i].id + "</i>" + "</a>";
                    html += "</li>";
                    // html += "<li class='mui-table-view-cell'>" + str_small + "： " + choose[i].choose_name + "</li>";
                }
                html += "</ul>";
                $(".mui-table-view").html(html); //读取下级的信息
            },
            error: function () {
                console.log("error");
            }
        });
    }

    (function () {
        jumpurl();
    })();
</script>


<!--倒计时问题-->
<script>
    var DOwn = 50;
    var Invoking;

    function Initiation() {
        DOwn = DOwn - 1;
        Invoking = setTimeout("Initiation()", 1000);
        if (DOwn == 0) {
            submit();
            replacement();
            // alert("时间到");//提交题
        }
        document.getElementById("timeout").innerHTML = DOwn;
    }

    function stopCount() {
        clearTimeout(Invoking);
    }

    function replacement() {
        DOwn = 50;
    }

    Initiation();

</script>

<!--防止页面刷新的问题-->
<script type="text/javascript">
    function RunOnBeforeUnload() {
        window.onbeforeunload = function () {
            return '请不要刷新页面!';
        }
    }
</script>
</head>